# Pair Programming Limpieza IV

Es el momento de ponernos a trabajar con los valores nulos üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos, nosotras os planteamos los ejercicios pero sentiros libres de usar el m√©todo que m√°s se adapte a vuestras necesidades. Manos a la obra!

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sidetable
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("datos/3.ataques_limpio.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,species_,date,mes,fatal,sexo,especie_cat,age_limpio
0,2018.06.25,2018,Boating,usa,White shark,25-Jun-2018,Jun,n,F,White,57.0
1,2018.06.03.a,2018,Unprovoked,brazil,Tiger shark,03-Jun-2018,Jun,y,M,Tiger,18.0

### 1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¬øHay alguna columna con una gran cantidad de nulos? En caso de que sea as√≠ deberemos eliminarla.

In [4]:
df.stb.missing()

             missing  total   percent
age_limpio       158   1672  9.449761
species_         126   1672  7.535885
especie_cat      126   1672  7.535885
fatal             97   1672  5.801435
mes               50   1672  2.990431
sexo              14   1672  0.837321
country           10   1672  0.598086
case_number        0   1672  0.000000
year               0   1672  0.000000
type               0   1672  0.000000
date               0   1672  0.000000

In [5]:
df_cat=df.select_dtypes(include="object")
df_cat.stb.missing()

             missing  total   percent
species_         126   1672  7.535885
especie_cat      126   1672  7.535885
fatal             97   1672  5.801435
mes               50   1672  2.990431
sexo              14   1672  0.837321
country           10   1672  0.598086
case_number        0   1672  0.000000
type               0   1672  0.000000
date               0   1672  0.000000

In [6]:
df_num=df.select_dtypes(include=np.number)
df_num.stb.missing()

            missing  total   percent
age_limpio      158   1672  9.449761
year              0   1672  0.000000

1.2 ¬øHay alguna columna con una gran cantidad de nulos? En caso de que sea as√≠ deberemos eliminarla.

No hay una columna con gran cantidad de nulos

### 2. Es el momento de eliminar los nulos:

2.1 Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [7]:
df['age_limpio'].fillna(round(df['age_limpio'].mean()) ,inplace = True)

In [8]:
df['age_limpio'].isnull().sum()

0

2.2 En relaci√≥n a la columna de country al tratarse de una columna de tipo categ√≥rica, reemplazad los valores nulos por una nueva categ√≥ria que se llame Unknown.

In [9]:
df["country"].replace(np.nan, "Unknown", inplace = True)

In [10]:
df['country'].isnull().sum()

0

2.3 Reemplazad los valores nulos de la columna fatal por Unknown.

In [11]:
df["fatal"].replace(np.nan, "Unknown", inplace = True)

In [12]:
df['fatal'].isnull().sum()

0

2.4 Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda).

In [13]:
df['type'].isnull().sum()

0

In [14]:
# No existen valores nulos en la columna type, por lo que dejamos comentada la f√≥rmula que se aplicar√≠a en caso de existir.
# df["type"].replace(np.nan, df["type"].mode()[0], inplace = True)

2.5 Reemplazad los valores nulos de la columna fecha por Unknown.

In [15]:
df['date'].isnull().sum()

0

In [16]:
# No existen valores nulos en la columna date, por lo que dejamos comentada la f√≥rmula que se aplicar√≠a en caso de existir.
# df["date"].replace(np.nan, "Unknown ", inplace = True)

## 3. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [17]:
df.head()

,case_number,year,type,country,species_,date,mes,fatal,sexo,especie_cat,age_limpio
0,2018.06.25,2018,Boating,usa,White shark,25-Jun-2018,Jun,n,F,White,57.0
1,2018.06.03.a,2018,Unprovoked,brazil,Tiger shark,03-Jun-2018,Jun,y,M,Tiger,18.0
2,2018.05.26.b,2018,Unprovoked,usa,"Bull shark, 6'",26-May-2018,May,n,M,Bull,15.0
3,2018.05.24,2018,Provoked,australia,Grey reef shark,24-May-2018,May,n,M,Grey,32.0
4,2018.05.13.a,2018,Invalid,england,Invalid incident,13-May-2018,May,n,M,Unspecified,21.0

In [18]:
df.rename(columns={"age_limpio":"age"}, inplace=True)

In [19]:
df.head()

,case_number,year,type,country,species_,date,mes,fatal,sexo,especie_cat,age
0,2018.06.25,2018,Boating,usa,White shark,25-Jun-2018,Jun,n,F,White,57.0
1,2018.06.03.a,2018,Unprovoked,brazil,Tiger shark,03-Jun-2018,Jun,y,M,Tiger,18.0
2,2018.05.26.b,2018,Unprovoked,usa,"Bull shark, 6'",26-May-2018,May,n,M,Bull,15.0
3,2018.05.24,2018,Provoked,australia,Grey reef shark,24-May-2018,May,n,M,Grey,32.0
4,2018.05.13.a,2018,Invalid,england,Invalid incident,13-May-2018,May,n,M,Unspecified,21.0

In [22]:
df.drop(columns= "species_", axis=1,inplace=True)

In [23]:
df.to_csv("datos/4.ataques_limpio.csv")