# Pair Programming ETL Carga I

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr√° la informaci√≥n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr√° la informaci√≥n obtenida en el ejercicio de pair de ETL 1.

In [1]:
import pandas as pd
import mysql.connector

## 1. Cread la BBDD con el nombre de tiburones.

In [2]:
def crear_bbdd(nombre_database):
    mydb = mysql.connector.connect(
        host = "localhost", 
        user = "root",
        password = "AlumnaAdalab"
    )

    print("Conexi√≥n realizada con √©xito") #Obtendremos este print para saber que la conexi√≥n con el servidor ha sido 
                                           #creada con √©xito

    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_database};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [3]:
#Ahora vamos a llamar a la funci√≥n anterior para que cree la base de datos:
mydb = crear_bbdd("tiburones")

Conexi√≥n realizada con √©xito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

### 2.Cread las tablas de la BBDD:

* Tabla ataques

In [4]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    # conectamos con el servidor:
    cnx = mysql.connector.connect(user='root', password=f"{contrase√±a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    
    mycursor = cnx.cursor() #para iniciar el cursor que nos permitir√° comunicarnos con la base de datos, en √©l se
                            # almacenar√°n los resultados.
    
    # pasamos la consulta que queremos realizar (query) al m√©todo execute() del cursor 
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que no se pueda ejecutar la query nos devolver√° un error 
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

Ahora vamos a definir las queries que van a conformar las tablas:

In [15]:
df_ataques = pd.read_csv("datos/4.ataques_limpio.csv", index_col=0)
df_ataques.head(1)

,case_number,year,type,country,species_,date,mes,fatal,sexo,especie_cat,age
0,2018.06.25,2018,Boating,usa,White shark,25-Jun-2018,Jun,n,F,White,57.0

In [16]:
df_ataques.columns

Index(['case_number', 'year', 'type', 'country', 'species_', 'date', 'mes',
       'fatal', 'sexo', 'especie_cat', 'age'],
      dtype='object')

In [17]:
df_ataques.dtypes

case_number     object
year             int64
type            object
country         object
species_        object
date            object
mes             object
fatal           object
sexo            object
especie_cat     object
age            float64
dtype: object

In [18]:
df_ataques.isnull().sum()

case_number      0
year             0
type             0
country          0
species_       126
date             0
mes             50
fatal            0
sexo            14
especie_cat    126
age              0
dtype: int64

In [21]:
# Revisamos las columnas que componen a nuestro df
df_meteo = pd.read_csv("files/1.paises_meteo_info.csv", index_col=0)
df.head(1)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 14}, {'layer': '900m...","[{'layer': '950mb', 'direction': 100, 'speed':...",25,2,11,1011,none,0,0,115,3,Papua New Guinea

In [23]:
df_meteo.columns

Index(['timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'pais'],
      dtype='object')

In [22]:
# Identificamos los tipos de datos de las columnas
df_meteo.dtypes[0:15]

timepoint             int64
cloudcover            int64
highcloud             int64
midcloud              int64
lowcloud              int64
rh_profile           object
wind_profile         object
temp2m                int64
lifted_index          int64
rh2m                  int64
msl_pressure          int64
prec_type            object
prec_amount           int64
snow_depth            int64
wind10m.direction     int64
dtype: object

In [12]:
tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  `id_ataque` INT NOT NULL AUTO_INCREMENT,
  `case_number` VARCHAR(50) NOT NULL, 
  `year` FLOAT NOT NULL , 
  `type` VARCHAR(50) NOT NULL, 
  `country` VARCHAR(50) NOT NULL, 
  `area` VARCHAR(50) NOT NULL, 
  `location` VARCHAR(50) NOT NULL,
  `activity` VARCHAR(50) NOT NULL, 
  `name` VARCHAR(50) NOT NULL, 
  `age` VARCHAR(50) NOT NULL, 
  `time` VARCHAR(50) NOT NULL, 
  `species_` VARCHAR(50) NOT NULL, 
  `injury` VARCHAR(50) NOT NULL, 
  `fecha_limpia` VARCHAR(50) NOT NULL,
  `fatal` VARCHAR(50) NOT NULL, 
  `sex` VARCHAR(50) NOT NULL,
  
  PRIMARY KEY (`id_ataque`,`country`))
ENGINE = InnoDB;
'''
# El ENGINE, es el motor de almacenamiento, el encargado de almacenar y manejar la informaci√≥n de la tabla.

* Tabla clima

In [8]:
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima`(
  `id_clima` INT NOT NULL AUTO_INCREMENT,
  `index` FLOAT NOT NULL, 
  `timepoint` FLOAT NOT NULL, 
  `cloudcover` FLOAT NOT NULL, 
  `highcloud` FLOAT NOT NULL,
  `midcloud` FLOAT NOT NULL, 
  `lowcloud` FLOAT NOT NULL, 
  `temp2m` FLOAT NOT NULL, 
  `lifted_index` FLOAT NOT NULL, 
  `rh2m` FLOAT NOT NULL,
  `msl_pressure` FLOAT NOT NULL, 
  `prec_amount` FLOAT NOT NULL, 
  `snow_depth` FLOAT NOT NULL, 
  `wind10m.direction` FLOAT NOT NULL,
  `wind10m.speed` FLOAT NOT NULL,
  `id_ataque` INT NOT NULL,
    
  PRIMARY KEY ( `id_clima`),
  INDEX `fk_clima_ataques_idx` (`idtiempo` ASC)
  CONSTRAINT `fk_clima_ataques`
    FOREIGN KEY (`id_ataque`)
    REFERENCES `tiburones`.`ataques` (`id_ataque`))
ENGINE = InnoDB;
'''

In [22]:
df.dtypes[40::]

wind_550mb           float64
wind_500mb           float64
wind_450mb           float64
wind_400mb           float64
wind_350mb           float64
wind_300mb           float64
wind_250mb           float64
wind_200mb           float64
index                float64
timepoint            float64
cloudcover           float64
highcloud            float64
midcloud             float64
lowcloud             float64
temp2m               float64
lifted_index         float64
rh2m                 float64
msl_pressure         float64
prec_amount          float64
snow_depth           float64
wind10m.direction    float64
wind10m.speed        float64
dtype: object

Ahora tenemos que llamar a la funci√≥n que nos permitir√° crear las tablas de la BBDD:

In [13]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_ataques)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''ataques' (
"id_ataque" INT NOT NULL AUTO_INCREMENT,
case_number VARCHAR(50) NOT' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''ataques' (
"id_ataque" INT NOT NULL AUTO_INCREMENT,
case_number VARCHAR(50) NOT' at line 1

In [14]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_clima)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''tiburones'.'clima'(
'id_clima' INT NOT NULL AUTO_INCREMENT,
'index' FLOAT NOT N' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''tiburones'.'clima'(
'id_clima' INT NOT NULL AUTO_INCREMENT,
'index' FLOAT NOT N' at line 1