# Pair Programming ETL Carga I

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr√° la informaci√≥n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr√° la informaci√≥n obtenida en el ejercicio de pair de ETL 1.

In [24]:
import pandas as pd
import mysql.connector

## 1. Cread la BBDD con el nombre de tiburones.

In [25]:
def crear_bbdd(nombre_database):
    mydb = mysql.connector.connect(
        host = "localhost", 
        user = "root",
        password = "AlumnaAdalab"
    )

    print("Conexi√≥n realizada con √©xito") #Obtendremos este print para saber que la conexi√≥n con el servidor ha sido 
                                           #creada con √©xito

    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_database};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [26]:
#Ahora vamos a llamar a la funci√≥n anterior para que cree la base de datos:
mydb = crear_bbdd("tiburones")

Conexi√≥n realizada con √©xito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

### 2.Cread las tablas de la BBDD:

* Tabla ataques

In [27]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    # conectamos con el servidor:
    cnx = mysql.connector.connect(user='root', password=f"{contrase√±a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    
    mycursor = cnx.cursor() #para iniciar el cursor que nos permitir√° comunicarnos con la base de datos, en √©l se
                            # almacenar√°n los resultados.
    
    # pasamos la consulta que queremos realizar (query) al m√©todo execute() del cursor 
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que no se pueda ejecutar la query nos devolver√° un error 
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

Ahora vamos a definir las queries que van a conformar las tablas:

In [36]:
df_ataques = pd.read_csv("datos/4.ataques_limpio.csv", index_col=0)
df_ataques.head(1)

,case_number,year,type,country,species_,date,mes,fatal,sexo,especie_cat,age
0,2018.06.25,2018,Boating,usa,White shark,25-Jun-2018,Jun,n,F,White,57.0

In [37]:
df_ataques.columns

Index(['case_number', 'year', 'type', 'country', 'species_', 'date', 'mes',
       'fatal', 'sexo', 'especie_cat', 'age'],
      dtype='object')

In [38]:
df_ataques.dtypes

case_number     object
year             int64
type            object
country         object
species_        object
date            object
mes             object
fatal           object
sexo            object
especie_cat     object
age            float64
dtype: object

In [39]:
df_ataques.isnull().sum()

case_number      0
year             0
type             0
country          0
species_       126
date             0
mes             50
fatal            0
sexo            14
especie_cat    126
age              0
dtype: int64

In [40]:
# Revisamos las columnas que componen a nuestro df
df_meteo = pd.read_csv("files/1.paises_meteo_info.csv", index_col=0)
df_meteo.head(1)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 14}, {'layer': '900m...","[{'layer': '950mb', 'direction': 100, 'speed':...",25,2,11,1011,none,0,0,115,3,Papua New Guinea

In [41]:
df_meteo.columns

Index(['timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'pais'],
      dtype='object')

In [42]:
df_meteo.isnull().sum()

timepoint            0
cloudcover           0
highcloud            0
midcloud             0
lowcloud             0
rh_profile           0
wind_profile         0
temp2m               0
lifted_index         0
rh2m                 0
msl_pressure         0
prec_type            0
prec_amount          0
snow_depth           0
wind10m.direction    0
wind10m.speed        0
pais                 0
dtype: int64

In [43]:
# Identificamos los tipos de datos de las columnas
df_meteo.dtypes

timepoint             int64
cloudcover            int64
highcloud             int64
midcloud              int64
lowcloud              int64
rh_profile           object
wind_profile         object
temp2m                int64
lifted_index          int64
rh2m                  int64
msl_pressure          int64
prec_type            object
prec_amount           int64
snow_depth            int64
wind10m.direction     int64
wind10m.speed         int64
pais                 object
dtype: object

## Creamos las querys

In [44]:
df_ataques.columns

Index(['case_number', 'year', 'type', 'country', 'species_', 'date', 'mes',
       'fatal', 'sexo', 'especie_cat', 'age'],
      dtype='object')

In [45]:
print(df_ataques.dtypes)

case_number     object
year             int64
type            object
country         object
species_        object
date            object
mes             object
fatal           object
sexo            object
especie_cat     object
age            float64
dtype: object

In [46]:
df_ataques.isnull().sum()

case_number      0
year             0
type             0
country          0
species_       126
date             0
mes             50
fatal            0
sexo            14
especie_cat    126
age              0
dtype: int64

In [74]:
tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  `case_number` VARCHAR(50) NOT NULL, 
  `year` INT NOT NULL , 
  `type` VARCHAR(50) NOT NULL, 
  `country` VARCHAR(50) NOT NULL, 
  `species_` VARCHAR(50),
  `date` VARCHAR(50),
  `mes` VARCHAR(50),
  `fatal` VARCHAR(50),
  `sexo` VARCHAR(50),
  `especie_cat`VARCHAR(50),
  `age` FLOAT (6),
  
  PRIMARY KEY (`case_number`))
ENGINE = InnoDB;
'''
# El ENGINE, es el motor de almacenamiento, el encargado de almacenar y manejar la informaci√≥n de la tabla.

* Tabla clima

In [63]:
df_meteo.columns

Index(['timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'pais'],
      dtype='object')

In [49]:
df_meteo.dtypes

timepoint             int64
cloudcover            int64
highcloud             int64
midcloud              int64
lowcloud              int64
rh_profile           object
wind_profile         object
temp2m                int64
lifted_index          int64
rh2m                  int64
msl_pressure          int64
prec_type            object
prec_amount           int64
snow_depth            int64
wind10m.direction     int64
wind10m.speed         int64
pais                 object
dtype: object

In [76]:
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima`(
  `timepoint` INT NOT NULL, 
  `cloudcover` INT NOT NULL, 
  `highcloud` INT NOT NULL,
  `midcloud` INT NOT NULL, 
  `lowcloud` INT NOT NULL, 
  `rh_profile` VARCHAR (1000),
  `wind_profile` VARCHAR (1000),
  `temp2m` INT NOT NULL, 
  `lifted_index` INT NOT NULL, 
  `rh2m` INT NOT NULL,
  `msl_pressure` INT NOT NULL, 
  `prec_type` VARCHAR (1000),
  `prec_amount` INT (50) NOT NULL, 
  `snow_depth` INT (50) NOT NULL, 
  `wind10m.direction` INT NOT NULL,
  `wind10m.speed` INT NOT NULL,
  `pais` VARCHAR (50) NOT NULL,
  `case_number` VARCHAR (50) NOT NULL,
    
  PRIMARY KEY ( `pais`),
  INDEX `fk_clima_ataques_idx` (`pais` ASC),
  CONSTRAINT `fk_clima_ataques`
    FOREIGN KEY (`case_number`)
    REFERENCES `tiburones`.`ataques` (`case_number`))
ENGINE = InnoDB;
'''

Ahora tenemos que llamar a la funci√≥n que nos permitir√° crear las tablas de la BBDD:

In [75]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_ataques)

In [77]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_clima)